common --enable_bzlmod
common --registry=https://bcr.bazel.build

build --incompatible_strict_action_env
build --action_env=PATH
test --test_env=PATH
test --test_output=errors

build --disk_cache=~/.cache/invoker-bazel-disk

build:remote --bes_results_url=https://app.buildbuddy.io/invocation/
build:remote --bes_backend=grpcs://remote.buildbuddy.io
build:remote --remote_cache=grpcs://remote.buildbuddy.io
build:remote --remote_timeout=600
# Bazel does not expand environment variables here. CI supplies auth headers
# as command-line flags; local credentials belong in .bazelrc.user.

build:rbe --config=remote
build:rbe --remote_executor=grpcs://remote.buildbuddy.io
build:rbe --remote_default_exec_properties=container-image=docker://gcr.io/flame-public/rbe-ubuntu22-04:latest
build:rbe --jobs=50

try-import %workspace%/.bazelrc.user
